*{
    color-scheme: dark;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    position: relative;
    width: 1200px;
    min-height: 850px;
    margin: 0 auto;
    color: #fff;
    display: flex;
    border-radius: 10px;
    /* background-color: #373c4f; */
    background: radial-gradient(#8EE4AF, #5CDB95, #878895);
}
.left{
    width: 90%;
    padding: 20px;
}
.calendar{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #878895;
    border-radius: 0 5px 5px 0;
    background-color: #fff;
}
.calendar::after, .calendar::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 12px;
    height: 97%;
    border-radius: 0 5px 5px 0;
    background-color: #d3d5d6c7;
    transform: translateY(-50%);
}
.calendar::before{
    height: 94%;
    left: calc(100% + 12px);
    /* background-color: rgb(153, 153, 153); */
    background-color: #14a084;
}
.month{
    width: 100%;
    height: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 50px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
}
.prev, .next{
    cursor: pointer;
}
.prev:hover, .next:hover{
    color: var(--primary-clr);
}
.week{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}
.week div{
    width: 14.28%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.day{
    width: 14.28%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--primary-clr);
    /* border: 1px solid lightcoral; */
    border-radius: 90px;
}
.days .day:not(.next-date, .prev-date, .active):hover{
    background: linear-gradient(#5CDB95, #878895);
    border: 2px solid #8EE4AF;
    color: #fff;
}
.days .prev-date, .days .next-date{
    color: #bbb;
}
.active{
    padding: 5%;
    font-size: 1.5rem;
    color: #fff;
    background: radial-gradient(#5CDB95, #878895);
    box-shadow: 0px 0px 10px 2px #5CDB95;
}
.days .event{
    position: relative;
}
.days .event::after{
    content: "";
    position: absolute;
    bottom: 20%;
    border-radius: 20px;
    width: 50%;
    height: 6px;
    background-color: #878895;
}
.event:hover::after{
    background-color: #fff;
}
.goto-today{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
    color: var(--primary-clr)
}
.goto{
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;/*WHat is it???*/
    border: 2px solid #14a084;
}
.goto input{
    color-scheme: light;
    width: 100%;
    height: 30px;
    padding: 0 20px;
    outline: none;
    border-radius: 5px;
}
.goto-today button{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: var(--primary-clr);
    font-weight: 800;
    /* background: radial-gradient(#5CDB95, #878895); */
}
.goto-today button:hover{
    height: 30px;
    background: linear-gradient(#5CDB95, #878895);
    /* border: 2px solid #8EE4AF; */
    color: #fff;
}
.goto button{
    border: none;
    border-left: 1px solid var(--primary-clr);
    border-radius: 0;
}